# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 0a4f62c968d5b4f57f30e01cd1691cea92580a6af9c868062a3c481e35dc656fb7fb14cfc01de715e4a6ef7e433bb40c53a8f9d8e582fd4421b7ff03906d10be

test:
  secret_key_base: 9c8183e519c19c24d238e81097ce38674e4ac10801da5c7a08fe51a61daaabcc8ed3d16f39ca196e6c87e86e9b10674ff3a45a48e6a0c1374a04a079e1f4cea2

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
